header {
  max-height: 10vh;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;

  img {
    max-height: 10vh;
  }
}

.footer {
  position: absolute;
  z-index: 2;
  bottom: 2vh;

  width: 100%;
  display: flex;
  justify-content: space-between;

  /*
  button {
    // background-color: #FFFEFA;
    // box-shadow: 0px 0px 20px rgba(253, 247, 230, .6);
  }
  */
}
