
<header>
  <button routerLink="">
    <img src="assets/titre.svg"/>
  </button>
  <button routerLink="../../collection">
    <img src="assets/story/collection-old-photo.svg" />
  </button>
</header>

<div class="container-detail">
  <app-story-detail [page]="pages[currentPage-1]"></app-story-detail>
</div>

<div class="footer">
  <button (click)="last()" [style.visibility]="currentPage > 1 ? 'visible' : 'hidden'">
    <img src="assets/story/last.svg" />
  </button>
  <button (click)="next()" [style.visibility]="currentPage < 16 ? 'visible' : 'hidden'">
    <img src="assets/story/next.svg" />
  </button>
</div>
