/* - - - Var - - - */
$phone-width: 8in;

/* - - - Contenu composant - - - */
header {
  max-height: 15vh;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;

  img {
    max-height: 10vh;
  }

  .page-number {
    padding: 1.4rem;
    font-family: 'Kells';
    font-size: 1.2rem;
  }
}

.container-detail {
  width: 100vw;
}

.footer {
  button {
    position: absolute;
    z-index: 2;
    bottom: 2vh;

    cursor: pointer;

    transition: all .25s ease;
    -webkit-animation-duration: 0.5;
    animation-duration: 0.5s;
    -webkit-animation-duration: calc(var(1s) * 0.5);
    animation-duration: calc(var(1s) * 0.5);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
  .last {
    left: 2vw;
  }
  .next {
    right: 2vw;
  }

  /*
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    // background-color: #FFFEFA;
    // box-shadow: 0px 0px 20px rgba(253, 247, 230, .6);
  }
  */
}

/* - - - Sur pc - - -
@media (min-width: $phone-width) {
  .container-detail {
    overflow-y: hidden;
  }
}
*/
