
<header>
  <button routerLink="">
    <img [src]="story.img"/>
  </button>
  <button *ngIf="story.url == 'lis-navi'" routerLink="../collection">
    <img src="assets/story/lis-navi/collection-old-photo.svg" />
  </button>
  <span class="page-number">
    {{ currentPage }} / {{ story.pages.length }}
  </span>
</header>

<div class="container-detail">
  <app-story-detail [page]="story.pages[currentPage-1]"></app-story-detail>
</div>

<div class="footer">
  <button class="last" (click)="last()" [style.visibility]="currentPage > 1 ? 'visible' : 'hidden'">
    <img [src]="story.btnLast ? story.btnLast : 'assets/story/lis-navi/last.svg'" />
  </button>
  <button class="next" (click)="next()" [style.visibility]="currentPage < story.pages.length ? 'visible' : 'hidden'">
    <img [src]="story.btnNext ? story.btnNext : 'assets/story/lis-navi/next.svg'" />
  </button>
</div>
