/* - - - Var - - - */
$phone-width: 8in;

/* - - - Contenu composant - - - */
.container-page-detail {
  margin: 1vh 4vw;
  height: 80vh;
  max-width: 90%;
  overflow-y: scroll;
  display: inline-block;
  margin-bottom: 5vh;
}

.container-text {
  max-width: 90%;
  margin: 4vh auto;
}

.img-centrale {
  margin: 1vh auto;
  display: flex;
  justify-content: center;
}

.img1 {
  max-width: 80vw;
  height: auto;
}

.container-img-bottom {
  position: absolute;
  bottom: 0vh;
  right: 0vh;
  z-index: -1;
}

/* - - - Sur pc - - - */
@media (min-width: $phone-width) {
  .container-text {
    max-width: 40vw;
  }
}
