/* - - - Variables - - - */
/* - - - Contenu composant - - - */
.container-page-image {
  overflow: hidden;
}

header {
  max-height: 15vh;
  margin: 2vh 5px;
  display: flex;
}

header h1 {
  margin-left: 1rem;
}

.container-text {
  height: 60vh;
  overflow-y: auto;
  max-width: 90%;
  margin: 4vh auto;
}

.container-text div p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin: 1rem .5rem;
}

.container-menu {
  max-height: 25vh;
}

.container-menu div {
  float: right;
  transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
}

.container-list {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.card-story {
  width: calc(100vw / 2.6 - 2vw);
  height: calc(100vh / 6 - 2vw);
  margin: 2vw;
  border-radius: 5px;
  background-color: #40454E;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 6px 0px #301D0A;
  -moz-box-shadow: 0px 0px 6px 0px #301D0A;
  box-shadow: 0px 0px 6px 0px #301D0A;
}

.card-story span {
  font-family: 'Kells';
  font-size: 1.2rem;
  font-weight: bold;
  color: #73E8F0;
}
