.container-title {
  margin-top: 5vh;
}

.container-btn-begin {
  display: flex;
  justify-content: center;

  .btn-begin {
    border: 1px solid #FCF3DB;
    background-color: transparent;
    padding: 2vh 12vw;
    position: absolute;
    bottom: 21vh;
  }
}
