<div class="page">

  <div class="container-svg-accueil">
    <!--<img title="Accueil" src="assets/svg-accueil.svg" />-->
  </div>

  <div class="container-stars">
    <div *ngFor="let star of stars">
      <span class="star" [class]="star.size" [style]="'left :'+star.left+'; top: '+star.top+'; animation-duration:'+star.transition"></span> <!-- [ngStyle]="getStyle(star)" -->
    </div>
  </div>

  <div class="container-title">
    <!--<img src="assets/titre.svg" />-->
    <!--<h1>I <span style="color: #77EEF6;">believe </span>in <span style="color: #70FF74;">adventure</span></h1>-->
    <h1>I believe in adventure</h1>
  </div>

  <hr/>

  <div class="container-list-stories">
    <app-accueil-card-story *ngFor="let story of listStories" [storyCard]="story"></app-accueil-card-story>
  </div>

  <!-- Bouton "Lire"
  <div class="container-btn-begin">
    <button class="btn-begin" [routerLink]="['../', 1]">Lire</button>
  </div>
  -->

  <div class="container-moon">
    <img title="Moon" width="230" height="230" src="assets/moon.svg" />
  </div>

  <div class="container-fox" [ngSwitch]="moonPhase">
    <img *ngSwitchCase="0" src="assets/black-fox.svg" title="Fox" width="150" height="150">
    <img *ngSwitchCase="4" src="assets/fox-shadow.svg" title="Fox" width="150" height="150">
    <img *ngSwitchDefault src="assets/fox-color.svg" title="Fox" width="150" height="150">
  </div>

</div>
