/* - - - Variables - - - */

/* - - - Contenu composant - - - */
.page {
  overflow: hidden;
  min-height: 100vh;
}

.container-svg-accueil {
  z-index: -2;
  position: fixed;
  top: -30px;
  right: -30px;
  height: 100%;
  width: 100%;
  opacity: .75;

  img {
    animation: tinkle 1s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
    -webkit-animation: tinkle 1s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
  }
}

.container-title {
  margin-top: 9vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;

  h1 {
    flex: 2;
    color: #FEFBF2;
    font-size: 1.4rem;
    word-spacing: .2rem;
    font-family: 'Kells';
    font-size: 1.6rem;
    // font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }

  div {
    position: absolute;
    right: 10vw;
  }
}

.container-btn-begin {
  display: flex;
  justify-content: center;

  .btn-begin {
    border: 1px solid #FCF3DB;
    background-color: transparent;
    padding: 2vh 12vw;
    position: absolute;
    bottom: 21vh;
  }
}

hr {
  margin : .6rem 10vw 1rem;
  border: 0;
  border-top : 1px solid #FEFBF2;
}

.container-list-stories {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6vh auto;
}

.container-moon {
  z-index: -1;
  position: fixed;
  bottom: 25vh;
  left: -60px;
  img {
    animation: glitter 6s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
    -webkit-animation: glitter 6s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
    -webkit-filter: drop-shadow(0 0 42px rgba(255,255,255, .8));
    filter: drop-shadow(0 0 42px rgba(255,255,255, .8));
  }
}

.container-fox {
  position: fixed;
  bottom: -2vh;
  right: 0vw;
  // opacity: .8;
}

.container-stars {
  z-index: -1;
  position: fixed;
  bottom: 0px;
  right: 20vw;
  animation: starsRotate 600s linear infinite;
  transform-origin: bottom right 0px;
  -webkit-animation: starsRotate 600s linear infinite;
}

.star {
  z-index: -4;
  position: fixed;
  width: 10vh;
  height: 10vh;
  img {
    animation: tinkle 1s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
    -webkit-animation: tinkle 1s cubic-bezier(0.14, 0.27, 0.82, 0.88) infinite;
  }
}

.starx1 {
  background: url('~src/assets/svg-small-etoile.svg') no-repeat;
}

.starx2 {
  background: url('~src/assets/svg-big-etoile.svg') no-repeat;
}

.etoile-filante {
  background: url('~src/assets/svg-etoile-filante.svg') no-repeat;
}

@keyframes glitter {
  0%, 100% {
    // opacity: 1;
    -webkit-filter: drop-shadow(0 0 24px rgba(255,255,255, .4));
    filter: drop-shadow(0 0 24px rgba(255,255,255, .4));
  }
  45%, 55% {
    // opacity: 0.8;
    -webkit-filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
    filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
  }
}

@keyframes tinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
    filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
  }
}

@keyframes starsRotate {
  from {
    transform: rotate(0deg); // translateX(0px)
  }
  to {
    transform: rotate(360deg); // translateX(180px)
  }
}

@-webkit-keyframes glitter {
  0%, 100% {
    // opacity: 1;
    -webkit-filter: drop-shadow(0 0 24px rgba(255,255,255, .4));
    filter: drop-shadow(0 0 24px rgba(255,255,255, .4));
  }
  45%, 55% {
    // opacity: 0.8;
    -webkit-filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
    filter: drop-shadow(0 0 24px rgba(255,255,255, .8));
  }
}
