
/* - - - Sizes - - - */
$phone-width: 8in;

/*#region App colors------------------------------------ */
$color-primary: #993366;
$color-primary-dark: #6f2449;
$color-primary-light: #af3971;

$color-secondary: #12cc82;

$color-background: #1F2D3B;

$color-separators: #ccc;
$color-border: #f0f0f0;

/* Texte */
$color-text: #222;
$color-text-secondary: #888;
/*#endregion App colors -------------------------------- */


/*#region Métier --------------------------------------- */

/*#endregion Métier ------------------------------------ */


/*#region Status --------------------------------------- */
$status-info: #474eff;
$status-help: #474eff;
$status-success: #5cbb3d;
$status-warning: #ff8f00;
$status-error: #ff4040;
/*#endregion Status ------------------------------------ */
