/* - - - Var - - - */
$phone-width: 8in;

/* - - - Contenu composant - - - */
header {
  max-height: 15vh;
  margin: 0 5px;
  padding: 2vh 1vw;
  display: flex;

  h1 {
    margin-left: 1rem;
  }
}

.container-chapter {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8vh;
}
