<header>
  <button routerLink="">
    <img [src]="'assets/back.svg'"/>
  </button>
  <h1>{{ storyName }}</h1>
</header>

<div class="container-chapters">
  <app-card-chapter (click)="selectCardChapter(chapter)"
    *ngFor="let chapter of chapters"
    [cardChapter]="chapter"
    [storyName]="storyName"></app-card-chapter>
</div>

<div class="container-lire"
  *ngIf="isCardChapterSelected">
  <button class="btn-lire"
  [routerLink]="['/long-story/chapter', { storyName: storyName, chapterUrl: cardChapterSelected?.url }]">
    Lire
  </button>
</div>
